version: '2'

networks:
  dillonchr:
   driver: bridge

services:
  blog:
    container_name: dillonchr_blog
    image: dillonchr:latest
    build: .
    networks:
      - dillonchr

  cache:
    container_name: dillonchr_cache
    build:
      context: ./cache/
    image: dillonchr_cache:latest
    ports:
      - "7720:80"
    networks:
      - dillonchr
