body {
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 2rem;
    padding: 1rem;
}
h1,
h2,
h3 {
    font-family: Arial, sans-serif;
    line-height: 1;
}
h1 {
    background: url("me.svg");
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: 125%;
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    margin: 4rem auto 2rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
}
p {
    margin: auto;
    text-indent: 2rem;
}
@media (min-width: 800px) {
    body {
        margin: auto;
        max-width: calc(100vw - 2rem);
        width: 40rem;
    }
    h3 {
        margin-top: 5rem;
    }
}

