<h1>Archives</h1>
<%- partial('_partial/links.ejs') %>
<%
    const findPosts = (source, _name) => {
        const r = source.find(({name}) => name === _name);
        if (r) {
            return r.posts;
        }
        return [];
    };

    let postList = site.posts;
    if (page.category) {
        postList = findPosts(site.categories, page.category);
    } else if (page.tag) {
        postList = findPosts(site.tags, page.tag);
    }
%>
<ol>
<% postList.reverse().each(function(item){ %>
    <li>
        <a href="<%- url_for(item.path) %>">
            <%= item.date.format('MMM D YYYY') %>
            &mdash;
            <%- item.title %>
        </a>
    </li>
<% }); %>
