<h1>Hi. My name's Dillon</h1>
<h2>Things of which I'm proud</h2>
<h3>TYPOS Magazine</h3>
<p>Homebrew zine with original artwork and stories. Collaborated with friends to produce 6 issues in 2017.</p>
<h3>Dramatist - Game</h3>
<p>An online game where friends can get together to write a play and then act it out in one sitting.</p>
<h3>Type Type Pass</h3>
<p>Another online game for friends to <em>get creative</em>. Each player takes a turn typing a sentence and that sentence goes to the next player. Each person only sees the sentence preceding their own. After three rounds the story can be ended.</p>
<h3>Bookworth</h3>
<p>A multi-faceted web app for searching book prices across ebay, abe books, and occasionally etsy.</p>
<h3>Standup was <em>how</em> long?</h3>
<p>A jab at my job's agile adherence.</p>
<h3>Kowalski</h3>
<p>What started out as a little slackbot has grown into my personal management app. Also he's on discord now.</p>
<h3>From Gildy With Love</h3>
<p>A map of all the sales from The Gilded Lion etsy store.</p>
